@tailwind base;
@tailwind components;
@tailwind utilities;

.loginform {
    border-radius: 19px;
background: linear-gradient(145deg, #c5c2cc, #eae7f3);
box-shadow:  35px 35px 70px #bab8c1,
             -35px -35px 70px #fcf8ff;
}

.dark {
    background-color: #1A1A1A;
    color: #fff;
}
/* .post {
    border-radius: 10px;
background: linear-gradient(145deg, #393249, #302a3d);
box-shadow:  10px 10px 50px #2b2738,
             -10px -10px 100px #3f3750;
}

.posttab {
    border-radius: 10px;
background: linear-gradient(145deg, #f7faff, #d0d3dd);
box-shadow:  10px 1px 50px #5c5e62,
             -10px -10px 50px #ffffff;
} */


.light {
    background-color: #E5F0FE;
}
.sc::-webkit-scrollbar {
    display: none;
  }

.dark-card{
    background-color: #282828;
} 

.light-card {
    background-color: #FFFFFF;
}

.dark-highlight{
    background-color: #FFFD00;
    color: #000;
}
.light-highlight{
    background-color: #c9ddf7;
    color: #000;
}