@tailwind base;
@tailwind components;
@tailwind utilities;

.loginform-light {
    border-radius: 38px;
background: #E5F0FE;
box-shadow:  27px 27px 54px #c3ccd8,
             -27px -27px 54px #ffffff;
}

.loginform-dark {
    border-radius: 38px;
background: #1A1A1A;
box-shadow:  17px 17px 34px #0a0a0a,
             -17px -17px 34px #2a2a2a;
}

.dark {
    background-color: #1A1A1A;
    color: #fff;
}
/* .post {
    border-radius: 10px;
background: linear-gradient(145deg, #393249, #302a3d);
box-shadow:  10px 10px 50px #2b2738,
             -10px -10px 100px #3f3750;
}

.posttab {
    border-radius: 10px;
background: linear-gradient(145deg, #f7faff, #d0d3dd);
box-shadow:  10px 1px 50px #5c5e62,
             -10px -10px 50px #ffffff;
} */


.light {
    background-color: #E5F0FE;
}
.sc::-webkit-scrollbar {
    display: none;
  }

.dark-card{
    background-color: #282828;
} 

.light-card {
    background-color: #FFFFFF;
}

.dark-highlight{
    background-color: #FFFD00;
    color: #000;
}
.light-highlight{
    background-color: #c9ddf7;
    color: #000;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #FF3D00;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 


  